stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: sf-api-user-credentials-setter
    parameters:
      templatePath: cfn.yaml
  sf-api-user-credentials-setter:
    type: aws-lambda
    parameters:
      fileName: sf-api-user-credentials-setter.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
      - sf-api-user-credentials-setter-
    dependencies: [cfn]
