stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: dev-env-cleaner
    parameters:
      templatePath: cfn.yaml

  dev-env-cleaner:
    type: aws-lambda
    parameters:
      fileName: dev-env-cleaner.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames: [dev-env-cleaner-]
    dependencies: [cfn]
