stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: sf-contact-merge
    parameters:
      templatePath: cfn.yaml

  sf-contact-merge:
    type: aws-lambda
    parameters:
      fileName: sf-contact-merge.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
      - sf-contact-merge-
    dependencies: [cfn]
