stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: zuora-retention
    parameters:
      templatePath: cfn.yaml

  zuora-retention:
    type: aws-lambda
    parameters:
      fileName: zuora-retention.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
      - zuora-retention-querier-
      - zuora-retention-jobResult-
      - zuora-retention-fileFetcher-
      - zuora-retention-filter-
      - zuora-retention-account-updater-
    dependencies: [cfn]