<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>

    <appender name="LAMBDA" class="com.amazonaws.services.lambda.runtime.log4j.LambdaAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %l - %m%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="LAMBDA"/>
    </root>

</configuration>
