stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: identity-backfill
    parameters:
      templatePath: cfn.yaml


  identity-backfill:
    type: aws-lambda
    parameters:
      fileName: identity-backfill.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
      - identity-backfill-
    dependencies: [cfn]
