AWSTemplateFormatVersion: "2010-09-09"
Description: Handles auto-cancellations for membership and subscriptions, using API Gateway and Lambda, plus stripe PM updates

Parameters:
    Stage:
        Description: Stage name
        Type: String
        AllowedValues:
            - PROD
            - CODE
        Default: CODE
    ApiName:
        Type: String
        AllowedValues:
            - zuora-auto-cancel-api-CODE
            - zuora-auto-cancel-api-PROD
        Default: zuora-auto-cancel-api-CODE

Conditions:
  CreateProdMonitoring: !Equals [ !Ref Stage, PROD ]

Mappings:
  StageConstants:
    PROD:
      EmailQueue: contributions-thanks
    CODE:
      EmailQueue: contributions-thanks-dev

Resources:
    ZuoraAutoCancelRole:
        Type: AWS::IAM::Role
        Properties:
            RoleName: !Sub ZuoraAutoCancel-${Stage}
            AssumeRolePolicyDocument:
                Statement:
                    - Effect: Allow
                      Principal:
                          Service:
                             - lambda.amazonaws.com
                      Action:
                          - sts:AssumeRole
            Path: /
            Policies:
                - PolicyName: LambdaPolicy
                  PolicyDocument:
                      Statement:
                          - Effect: Allow
                            Action:
                            - logs:CreateLogGroup
                            - logs:CreateLogStream
                            - logs:PutLogEvents
                            - lambda:InvokeFunction
                            Resource: "*"
                - PolicyName: SQSPutInQueue
                  PolicyDocument:
                      Statement:
                          - Effect: Allow
                            Action: sqs:*
                            Resource: !Sub arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:subs-welcome-email
                          - Effect: Allow
                            Action: sqs:*
                            Resource: !Sub ["arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:${EmailQueue}", {EmailQueue: !FindInMap ["StageConstants", !Ref Stage, "EmailQueue"]}]
                - PolicyName: ReadPrivateCredentials
                  PolicyDocument:
                      Statement:
                          - Effect: Allow
                            Action: s3:GetObject
                            Resource:
                            - !Sub arn:aws:s3:::gu-reader-revenue-private/membership/support-service-lambdas/${Stage}/zuoraRest-${Stage}.*.json
                            - !Sub arn:aws:s3:::gu-reader-revenue-private/membership/support-service-lambdas/${Stage}/trustedApi-${Stage}.*.json
                            - !Sub arn:aws:s3:::gu-reader-revenue-private/membership/support-service-lambdas/${Stage}/exactTarget-${Stage}.*.json
                            - !Sub arn:aws:s3:::gu-reader-revenue-private/membership/support-service-lambdas/${Stage}/stripe-${Stage}.*.json
    ZuoraAutoCancelLambda:
        Type: AWS::Lambda::Function
        Properties:
            Description: Handles auto-cancellations for membership and subscriptions
            FunctionName:
                !Sub zuora-auto-cancel-${Stage}
            Code:
                S3Bucket: support-service-lambdas-dist
                S3Key: !Sub membership/${Stage}/support-service-lambdas/support-service-lambdas.jar
            Handler: com.gu.autoCancel.AutoCancelHandler::handleRequest
            Environment:
                Variables:
                  Stage: !Ref Stage
            Role:
                Fn::GetAtt:
                - ZuoraAutoCancelRole
                - Arn
            MemorySize: 1536
            Runtime: java8.al2
            Timeout: 300
        DependsOn:
        - ZuoraAutoCancelRole

    PaymentFailureLambda:
        Type: AWS::Lambda::Function
        Properties:
            Description: handles zuora payment failure callouts
            FunctionName:
                !Sub payment-failure-${Stage}
            Code:
                S3Bucket: support-service-lambdas-dist
                S3Key: !Sub membership/${Stage}/support-service-lambdas/support-service-lambdas.jar
            Environment:
                Variables:
                  Stage: !Ref Stage
            Handler: com.gu.paymentFailure.Lambda::handleRequest
            Role:
                Fn::GetAtt:
                - ZuoraAutoCancelRole
                - Arn
            MemorySize: 1536
            Runtime: java8.al2
            Timeout: 300
        DependsOn:
        - ZuoraAutoCancelRole

    ZuoraAutoCancelAPIPermission:
        Type: AWS::Lambda::Permission
        Properties:
            Action: lambda:invokeFunction
            FunctionName: !Sub zuora-auto-cancel-${Stage}
            Principal: apigateway.amazonaws.com
        DependsOn: ZuoraAutoCancelLambda

    PaymentFailureAPIPermission:
        Type: AWS::Lambda::Permission
        Properties:
            Action: lambda:invokeFunction
            FunctionName: !Sub payment-failure-${Stage}
            Principal: apigateway.amazonaws.com
        DependsOn: PaymentFailureLambda

    ZuoraAutoCancelProxyResource:
        Type: AWS::ApiGateway::Resource
        Properties:
            RestApiId: !Ref ZuoraAutoCancelAPI
            ParentId: !GetAtt [ZuoraAutoCancelAPI, RootResourceId]
            PathPart: auto-cancel
        DependsOn: ZuoraAutoCancelAPI

    PaymentFailureProxyResource:
        Type: AWS::ApiGateway::Resource
        Properties:
            RestApiId: !Ref ZuoraAutoCancelAPI
            ParentId: !GetAtt [ZuoraAutoCancelAPI, RootResourceId]
            PathPart: payment-failure
        DependsOn: ZuoraAutoCancelAPI

    ZuoraAutoCancelMethod:
        Type: AWS::ApiGateway::Method
        Properties:
            AuthorizationType: NONE
            RestApiId: !Ref ZuoraAutoCancelAPI
            ResourceId: !Ref ZuoraAutoCancelProxyResource
            HttpMethod: POST
            RequestParameters:
              method.request.querystring.apiClientId: true
              method.request.querystring.apiToken: true
            Integration:
              Type: AWS_PROXY
              IntegrationHttpMethod: POST # this for the interaction between API Gateway and Lambda and MUST be POST
              Uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ZuoraAutoCancelLambda.Arn}/invocations
        DependsOn:
        - ZuoraAutoCancelAPI
        - ZuoraAutoCancelLambda
        - ZuoraAutoCancelProxyResource

    PaymentFailureMethod:
        Type: AWS::ApiGateway::Method
        Properties:
            AuthorizationType: NONE
            RestApiId: !Ref ZuoraAutoCancelAPI
            ResourceId: !Ref PaymentFailureProxyResource
            HttpMethod: POST
            RequestParameters:
              method.request.querystring.apiClientId: true
              method.request.querystring.apiToken: true
            Integration:
              Type: AWS_PROXY
              IntegrationHttpMethod: POST # this for the interaction between API Gateway and Lambda and MUST be POST
              Uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${PaymentFailureLambda.Arn}/invocations
        DependsOn:
        - ZuoraAutoCancelAPI
        - ZuoraAutoCancelLambda
        - ZuoraAutoCancelProxyResource


    StripeCustomerSourceUpdatedLambda:
        Type: AWS::Lambda::Function
        Properties:
            Description: Handles auto-cancellations for membership and subscriptions
            FunctionName:
                !Sub stripe-customer-source-updated-${Stage}
            Code:
                S3Bucket: support-service-lambdas-dist
                S3Key: !Sub membership/${Stage}/support-service-lambdas/support-service-lambdas.jar
            Handler: com.gu.stripeCustomerSourceUpdated.Lambda::apply
            Environment:
                Variables:
                  Stage: !Ref Stage
            Role:
                Fn::GetAtt:
                - ZuoraAutoCancelRole
                - Arn
            MemorySize: 1536
            Runtime: java8.al2
            Timeout: 300
        DependsOn:
        - ZuoraAutoCancelRole

    StripeCustomerSourceUpdatedAPIPermission:
        Type: AWS::Lambda::Permission
        Properties:
            Action: lambda:invokeFunction
            FunctionName: !Sub stripe-customer-source-updated-${Stage}
            Principal: apigateway.amazonaws.com
        DependsOn: StripeCustomerSourceUpdatedLambda

    StripeCustomerSourceUpdatedProxyResource:
        Type: AWS::ApiGateway::Resource
        Properties:
            RestApiId: !Ref ZuoraAutoCancelAPI
            ParentId: !GetAtt [ZuoraAutoCancelAPI, RootResourceId]
            PathPart: stripe-customer-source-updated
        DependsOn: ZuoraAutoCancelAPI

    StripeCustomerSourceUpdatedMethod:
        Type: AWS::ApiGateway::Method
        Properties:
            AuthorizationType: NONE
            RestApiId: !Ref ZuoraAutoCancelAPI
            ResourceId: !Ref StripeCustomerSourceUpdatedProxyResource
            HttpMethod: POST
            RequestParameters:
              method.request.querystring.apiToken: true
            Integration:
              Type: AWS_PROXY
              IntegrationHttpMethod: POST # this for the interaction between API Gateway and Lambda and MUST be POST
              Uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${StripeCustomerSourceUpdatedLambda.Arn}/invocations
        DependsOn:
        - ZuoraAutoCancelAPI
        - StripeCustomerSourceUpdatedLambda
        - StripeCustomerSourceUpdatedProxyResource


    ZuoraAutoCancelAPI:
        Type: "AWS::ApiGateway::RestApi"
        Properties:
            Description: Zuora sends a callout to this endpoint to initiate an auto-cancellation on an overdue subscription
            Name: !Sub ${ApiName}

    ZuoraAutoCancelAPIStage:
        Type: AWS::ApiGateway::Stage
        Properties:
            Description: Stage for zuora-auto-cancel-api
            RestApiId: !Ref ZuoraAutoCancelAPI
            DeploymentId: !Ref ZuoraAutoCancelAPIDeployment
            StageName: !Sub ${Stage}
        DependsOn: ZuoraAutoCancelMethod

    ZuoraAutoCancelAPIDeployment:
        Type: AWS::ApiGateway::Deployment
        Properties:
            Description: Deploys zuora-auto-cancel-api into an environment/stage
            RestApiId: !Ref ZuoraAutoCancelAPI
        DependsOn: ZuoraAutoCancelMethod

    5xxApiAlarm:
      Type: AWS::CloudWatch::Alarm
      Condition: CreateProdMonitoring
      Properties:
        AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:retention-dev
        AlarmName: !Sub 5XX rate from ${ApiName}
        ComparisonOperator: GreaterThanThreshold
        Dimensions:
          - Name: ApiName
            Value: !Sub ${ApiName}
          - Name: Stage
            Value: !Sub ${Stage}
        EvaluationPeriods: 1
        MetricName: 5XXError
        Namespace: AWS/ApiGateway
        Period: 300
        Statistic: Sum
        Threshold: 10
        TreatMissingData: notBreaching

    4xxApiAlarm:
      Type: AWS::CloudWatch::Alarm
      Condition: CreateProdMonitoring
      Properties:
        AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:retention-dev
        AlarmName: !Sub 4XX rate from ${ApiName}
        ComparisonOperator: GreaterThanThreshold
        Dimensions:
          - Name: ApiName
            Value: !Sub ${ApiName}
          - Name: Stage
            Value: !Sub ${Stage}
        EvaluationPeriods: 1
        MetricName: 4XXError
        Namespace: AWS/ApiGateway
        Period: 3600
        Statistic: Sum
        Threshold: 5
        TreatMissingData: notBreaching

