stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: revenue-recogniser-job
    parameters:
      templatePath: cfn.yaml

  revenue-recogniser-job:
    type: aws-lambda
    parameters:
      fileName: revenue-recogniser-job.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames: [revenue-recogniser-job-]
    dependencies: [cfn]
