stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: fulfilment-date-calculator
    parameters:
      templatePath: cfn.yaml
  fulfilment-date-calculator:
    type: aws-lambda
    parameters:
      fileName: fulfilment-date-calculator.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
      - fulfilment-date-calculator-
    dependencies: [cfn]