stacks:
  - support
regions:
  - eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  identity-sync-cloudformation:
    type: cloud-formation
    app: identity-sync
    parameters:
      templateStagePaths:
        CODE: identity-sync-CODE.template.json
        PROD: identity-sync-PROD.template.json
  identity-sync:
    type: aws-lambda
    parameters:
      fileName: identity-sync.zip
      bucketSsmLookup: true
      prefixStack: false
      functionNames:
        - identity-sync-
    dependencies:
      - identity-sync-cloudformation
