stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: cancellation-sf-cases-api
    parameters:
      templatePath: cfn.yaml

  cancellation-sf-cases-api:
    type: aws-lambda
    parameters:
      fileName: cancellation-sf-cases-api.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
      - cancellation-sf-cases-api-
    dependencies: [cfn]
