openapi: 3.0.3
info:
  title: user-subscriptions-api API
  description: API for progressively loading manage-my-account subscription data.
  version: 1.0.0

servers:
  - url: https://user-subscriptions-api-code.support.guardianapis.com
    description: CODE
  - url: https://user-subscriptions-api.support.guardianapis.com
    description: PROD

security:
  - apiKey: []

paths:
  /me:
    get:
      operationId: getMeSubscriptions
      summary: Get high-level subscription information for the signed-in user
      description: Returns summary subscription data used for the initial manage-my-account page render.
      responses:
        '200':
          description: Subscription summary response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
              example:
                subscriptions:
                  - name: A-S12345678
                    productKey: SupporterPlus
                    productRatePlanKey: Annual
                    availableActions:
                      - action: upsell
                        target:
                          productKey: DigitalSubscription
                          productRatePlanKey: Annual
                      - action: cancel
        '401':
          description: Missing or invalid authentication details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Internal server error

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authenticating requests.

  schemas:
    MeResponse:
      type: object
      additionalProperties: false
      required:
        - subscriptions
      properties:
        subscriptions:
          type: array
          description: High-level subscriptions for the current user.
          items:
            $ref: '#/components/schemas/Subscription'

    Subscription:
      type: object
      additionalProperties: false
      required:
        - name
        - productKey
        - productRatePlanKey
        - availableActions
      properties:
        name:
          type: string
          description: Subscription name.
          example: A-S12345678
        productKey:
          type: string
          description: Internal product identifier.
          example: SupporterPlus
        productRatePlanKey:
          type: string
          description: Internal product rate plan identifier.
          example: Annual
        availableActions:
          type: array
          items:
            $ref: '#/components/schemas/AvailableAction'

    AvailableAction:
      oneOf:
        - $ref: '#/components/schemas/UpsellAction'
        - $ref: '#/components/schemas/CancelAction'
      discriminator:
        propertyName: action
        mapping:
          upsell: '#/components/schemas/UpsellAction'
          cancel: '#/components/schemas/CancelAction'

    UpsellAction:
      type: object
      additionalProperties: false
      required:
        - action
        - target
      properties:
        action:
          type: string
          enum:
            - upsell
        target:
          $ref: '#/components/schemas/UpsellTarget'

    UpsellTarget:
      type: object
      additionalProperties: false
      required:
        - productKey
        - productRatePlanKey
      properties:
        productKey:
          type: string
          description: Target product key.
          example: DigitalSubscription
        productRatePlanKey:
          type: string
          description: Target product rate plan key.
          example: Annual

    CancelAction:
      type: object
      additionalProperties: false
      required:
        - action
      properties:
        action:
          type: string
          enum:
            - cancel

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Human-readable error message

