openapi: 3.0.3
info:
  title: promotions-api API
  description: An API that exposes v2 promotions data from the promotions module.
  version: 1.0.0

servers:
  - url: https://promotions-api-code.support.guardianapis.com
    description: CODE
  - url: https://promotions-api.support.guardianapis.com
    description: PROD

security:
  - apiKey: []

paths:
  /promotions:
    get:
      operationId: listPromotions
      summary: List promotions
      description: Returns all v2 promotions currently stored in the promotions
        module, augmented with product catalog information (the catalog rate
        plans each promotion applies to). Promotions whose rate plan ids
        cannot be resolved against the current product catalog are omitted.
      parameters:
        - name: active
          in: query
          required: false
          description: When provided, only return promotions whose active status
            (started and, if it has an end date, not yet ended) matches this
            value.
          schema:
            type: boolean
        - name: promoCodes
          in: query
          required: false
          description: A comma-separated list of promo codes. When provided, only
            these promo codes are looked up directly (rather than scanning all
            promotions), and codes that don't exist are simply omitted from the
            response. Combinable with the other filters.
          schema:
            type: string
          example: PROMO1,PROMO2
      responses:
        '200':
          description: A list of promotions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromotionsResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: 'Invalid query parameters: ...'
        '403':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Forbidden
        '500':
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Internal server error

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authenticating requests.

  schemas:
    ListPromotionsResponse:
      type: object
      required:
        - promotions
      properties:
        promotions:
          type: array
          items:
            $ref: '#/components/schemas/Promotion'

    Promotion:
      type: object
      required:
        - promoCode
        - name
        - campaignCode
        - appliesTo
        - startTimestamp
      properties:
        promoCode:
          type: string
          description: The unique code identifying the promotion.
          example: TEST123
        name:
          type: string
          description: The display name of the promotion.
        campaignCode:
          type: string
          description: The code of the campaign this promotion belongs to.
        appliesTo:
          $ref: '#/components/schemas/AppliesTo'
        startTimestamp:
          type: string
          format: date-time
          description: When the promotion becomes active.
        endTimestamp:
          type: string
          format: date-time
          description: When the promotion expires, if it has an end date.
        discount:
          $ref: '#/components/schemas/DiscountDetails'
        description:
          type: string
          description: A human-readable description of the promotion.
        landingPage:
          $ref: '#/components/schemas/LandingPage'

    AppliesTo:
      type: object
      required:
        - productRatePlanIds
        - countries
        - catalogRatePlans
      properties:
        productRatePlanIds:
          type: array
          items:
            type: string
          description: The Zuora product rate plan ids this promotion applies to.
        countries:
          type: array
          items:
            type: string
          description: The ISO country codes this promotion applies to.
        catalogRatePlans:
          type: array
          items:
            $ref: '#/components/schemas/CatalogRatePlan'
          description: The product catalog rate plans this promotion applies to,
            resolved from productRatePlanIds.

    CatalogRatePlan:
      type: object
      required:
        - productKey
        - productRatePlanKey
      properties:
        productKey:
          type: string
          description: The product catalog key, e.g. SupporterPlus.
        productRatePlanKey:
          type: string
          description: The rate plan key within the product, e.g. Monthly.

    DiscountDetails:
      type: object
      required:
        - amount
        - durationMonths
      properties:
        amount:
          type: number
          description: The discount amount, as a percentage.
        durationMonths:
          type: number
          description: How many months the discount lasts for.

    LandingPage:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        roundelHtml:
          type: string

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Human-readable error message
