stacks:
- membership
regions:
- eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: batch-email-sender
    parameters:
      templatePath: cfn.yaml

  batch-email-sender:
    type: aws-lambda
    parameters:
      fileName: batch-email-sender.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
      - batch-email-sender-
    dependencies: [cfn]
