stacks:
- membership
regions:
- eu-west-1
deployments:

  cfn:
    type: cloud-formation
    app: sf-move-subscriptions-api
    parameters:
      templatePath: cfn.yaml

  sf-move-subscriptions-api:
    type: aws-lambda
    parameters:
      fileName: sf-move-subscriptions-api.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
      - sf-move-subscriptions-api-
    dependencies: [cfn]
