Transform: AWS::Serverless-2016-10-31
Description: Remove Billing Accounts and related records from SF

Parameters:
  Stage:
    Description: Stage name
    Type: String

Mappings:
  StageMap:
    CODE:
      SalesforceUrl: https://test.salesforce.com
      SalesforceConnectedApp: AwsConnectorSandbox
      SalesforceUser: BillingAccountRemoverAPIUser
      ZuoraUrl: https://rest.apisandbox.zuora.com
      ZuoraAccount: SfSaves
      Schedule: 'cron(00 07 * * ? *)'
    PROD:
      SalesforceUrl: https://gnmtouchpoint.my.salesforce.com
      SalesforceConnectedApp: BillingAccountRemover
      SalesforceUser: BillingAccountRemoverAPIUser
      ZuoraUrl: https://rest.zuora.com
      ZuoraAccount: SupportServiceLambdas
      Schedule: 'cron(00 07,08,09,10 * * ? *)'

Resources:
  SFBillingAccountRemoverRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: /
      Policies:
        - PolicyName: SFBillingAccountRemoverPolicy
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/sf-billing-account-remover-${Stage}:log-stream:*
        - PolicyName: ReadFromSecretsManagerPolicy
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:DescribeSecret
                  - secretsmanager:GetSecretValue
                Resource:
                  - "arn:aws:secretsmanager:eu-west-1:865473395570:secret:CODE/Zuora/SubscriptionsZuoraApi-XW49AL"
                  - "arn:aws:secretsmanager:eu-west-1:865473395570:secret:PROD/Zuora/SupportServiceLambdas-WeibUa"
                  - "arn:aws:secretsmanager:eu-west-1:865473395570:secret:CODE/Salesforce/ConnectedApp/AwsConnectorSandbox-jaCgRl"
                  - "arn:aws:secretsmanager:eu-west-1:865473395570:secret:PROD/Salesforce/ConnectedApp/BillingAccountRemover-WUdrKa"
                  - "arn:aws:secretsmanager:eu-west-1:865473395570:secret:CODE/Salesforce/User/MembersDataAPI-xpUthA"
                  - "arn:aws:secretsmanager:eu-west-1:865473395570:secret:PROD/Salesforce/User/BillingAccountRemoverAPIUser-UJ1SwZ"

  SFBillingAccountRemoverLambda:
    Type: AWS::Serverless::Function
    Properties:
      Events:
        ScheduledRun:
          Type: Schedule
          Properties:
            Schedule: !FindInMap [ StageMap, !Ref Stage, Schedule ]
            Description: Runs BillingAccountRemover
            Enabled: True
      FunctionName:
        !Sub sf-billing-account-remover-${Stage}
      Description: Remove Billing Accounts and related records from Salesforce (via Zuora)
      CodeUri:
        Bucket: support-service-lambdas-dist
        Key: !Sub membership/${Stage}/sf-billing-account-remover/sf-billing-account-remover.jar
      Handler: com.gu.sf_billing_account_remover.BillingAccountRemover::lambda
      Environment:
        Variables:
          Stage: !Ref Stage
          authUrl: !FindInMap [StageMap, !Ref Stage, SalesforceUrl]
          zuoraInstanceUrl: !FindInMap [StageMap, !Ref Stage, ZuoraUrl]
      Role:
        !GetAtt SFBillingAccountRemoverRole.Arn
      MemorySize: 512
      Runtime: java11
      Timeout: 900
    DependsOn:
      - SFBillingAccountRemoverRole
