AWSTemplateFormatVersion: "2010-09-09"
Description: new product api

Parameters:
    Stage:
        Description: Stage name
        Type: String
        AllowedValues:
            - PROD
            - CODE
            - DEV
        Default: CODE

Conditions:
  CreateProdMonitoring: !Equals [ !Ref Stage, PROD ]

Mappings:
    StageMap:
        DEV:
            ApiName: new-product-api-DEV
            DomainName: new-product-api-dev.membership.guardianapis.com
            ApiGatewayTargetDomainName: d-papcvkgmc9.execute-api.eu-west-1.amazonaws.com
            ZuoraCatalogLocation: arn:aws:s3:::gu-zuora-catalog/CODE/Zuora-DEV/catalog.json
            FulfilmentDateCalculatorS3Resource: arn:aws:s3:::fulfilment-date-calculator-dev/*
        CODE:
            ApiName: new-product-api-CODE
            DomainName: new-product-api-code.membership.guardianapis.com
            ApiGatewayTargetDomainName: d-ecyddyj7nk.execute-api.eu-west-1.amazonaws.com
            ZuoraCatalogLocation: arn:aws:s3:::gu-zuora-catalog/CODE/Zuora-UAT/catalog.json
            FulfilmentDateCalculatorS3Resource: arn:aws:s3:::fulfilment-date-calculator-code/*
        PROD:
            ApiName: new-product-api-PROD
            DomainName: new-product-api-prod.membership.guardianapis.com
            ApiGatewayTargetDomainName: d-yyh9pmqphi.execute-api.eu-west-1.amazonaws.com
            ZuoraCatalogLocation: arn:aws:s3:::gu-zuora-catalog/PROD/Zuora-PROD/catalog.json
            FulfilmentDateCalculatorS3Resource: arn:aws:s3:::fulfilment-date-calculator-prod/*

Resources:
    NewSubscriptionRole:
        Type: AWS::IAM::Role
        Properties:
            AssumeRolePolicyDocument:
                Statement:
                    - Effect: Allow
                      Principal:
                          Service:
                             - lambda.amazonaws.com
                      Action:
                          - sts:AssumeRole
            Path: /
            Policies:
                - PolicyName: LambdaPolicy
                  PolicyDocument:
                      Statement:
                          - Effect: Allow
                            Action:
                            - logs:CreateLogGroup
                            - logs:CreateLogStream
                            - logs:PutLogEvents
                            - lambda:InvokeFunction
                            Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/add-subscription-${Stage}:log-stream:*"
                - PolicyName: ReadPrivateCredentials
                  PolicyDocument:
                      Statement:
                          - Effect: Allow
                            Action: s3:GetObject
                            Resource:
                            - !Sub arn:aws:s3:::gu-reader-revenue-private/membership/support-service-lambdas/${Stage}/zuoraRest-${Stage}*.json
                            - !FindInMap [ StageMap, !Ref Stage, FulfilmentDateCalculatorS3Resource ]
                - PolicyName: SQSAddEmailRequest
                  PolicyDocument:
                    Statement:
                      - Effect: Allow
                        Action:
                        - sqs:GetQueueUrl
                        - sqs:SendMessage
                        Resource:
                          Fn::ImportValue: !Sub "comms-${Stage}-EmailQueueArn"
                - PolicyName: ReadZuoraCatalog
                  PolicyDocument:
                    Statement:
                    - Effect: Allow
                      Action: s3:GetObject
                      Resource: !FindInMap [ StageMap, !Ref Stage, ZuoraCatalogLocation ]
    ProductCatalogRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Statement:
          - Effect: Allow
            Principal:
              Service:
              - lambda.amazonaws.com
            Action:
            - sts:AssumeRole
        Path: /
        Policies:
        - PolicyName: LambdaPolicy
          PolicyDocument:
            Statement:
            - Effect: Allow
              Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
              - lambda:InvokeFunction
              Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/product-catalog-${Stage}:log-stream:*"
        - PolicyName: ReadZuoraCatalog
          PolicyDocument:
            Statement:
            - Effect: Allow
              Action: s3:GetObject
              Resource:
              - !FindInMap [ StageMap, !Ref Stage, ZuoraCatalogLocation ]
              - !FindInMap [ StageMap, !Ref Stage, FulfilmentDateCalculatorS3Resource ]

    AddSubscriptionLambda:
        Type: AWS::Lambda::Function
        Properties:
            Description: add subscription to account
            FunctionName:
                !Sub add-subscription-${Stage}
            Code:
                S3Bucket: support-service-lambdas-dist
                S3Key: !Sub membership/${Stage}/new-product-api/new-product-api.jar
            Handler: com.gu.newproduct.api.addsubscription.Handler::apply
            Environment:
                Variables:
                  Stage: !Ref Stage
                  EmailQueueName:
                    Fn::ImportValue:
                      !Sub "comms-${Stage}-EmailQueueName"  
            Role:
                Fn::GetAtt:
                - "NewSubscriptionRole"
                - Arn
            MemorySize: 1536
            Runtime: java11
            Timeout: 300
        DependsOn:
        - "NewSubscriptionRole"

    NewProductAPIPermission:
        Type: AWS::Lambda::Permission
        Properties:
            Action: lambda:invokeFunction
            FunctionName: !Sub add-subscription-${Stage}
            Principal: apigateway.amazonaws.com
        DependsOn: AddSubscriptionLambda

    AddSubscriptionResource:
        Type: AWS::ApiGateway::Resource
        Properties:
            RestApiId: !Ref NewProductApi
            ParentId: !GetAtt [NewProductApi, RootResourceId]
            PathPart: add-subscription
        DependsOn: NewProductApi

    AddSubscriptionMethod:
        Type: AWS::ApiGateway::Method
        Properties:
            AuthorizationType: NONE
            ApiKeyRequired: true
            RestApiId: !Ref NewProductApi
            ResourceId: !Ref AddSubscriptionResource
            HttpMethod: POST
            Integration:
              Type: AWS_PROXY
              IntegrationHttpMethod: POST # this for the interaction between API Gateway and Lambda and MUST be POST
              Uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${AddSubscriptionLambda.Arn}/invocations
        DependsOn:
        - NewProductApi
        - AddSubscriptionLambda
        - AddSubscriptionResource
    ProductCatalogLambda:
      Type: AWS::Lambda::Function
      Properties:
        Description: get description of available products
        FunctionName:
          !Sub product-catalog-${Stage}
        Code:
          S3Bucket: support-service-lambdas-dist
          S3Key: !Sub membership/${Stage}/new-product-api/new-product-api.jar
        Handler: com.gu.newproduct.api.productcatalog.Handler::apply
        Environment:
          Variables:
            Stage: !Ref Stage
        Role:
          Fn::GetAtt:
          - "ProductCatalogRole"
          - Arn
        MemorySize: 1536
        Runtime: java11
        Timeout: 300
      DependsOn:
      - "ProductCatalogRole"
    ProductCatalogApiPermission:
        Type: AWS::Lambda::Permission
        Properties:
          Action: lambda:invokeFunction
          FunctionName: !Sub product-catalog-${Stage}
          Principal: apigateway.amazonaws.com
        DependsOn: ProductCatalogLambda

    ProductCatalogResource:
        Type: AWS::ApiGateway::Resource
        Properties:
          RestApiId: !Ref NewProductApi
          ParentId: !GetAtt [NewProductApi, RootResourceId]
          PathPart: product-catalog
        DependsOn: NewProductApi

    ProductCatalogMethod:
      Type: AWS::ApiGateway::Method
      Properties:
        AuthorizationType: NONE
        ApiKeyRequired: true
        RestApiId: !Ref NewProductApi
        ResourceId: !Ref ProductCatalogResource
        HttpMethod: GET
        Integration:
          Type: AWS_PROXY
          IntegrationHttpMethod: POST # this for the interaction between API Gateway and Lambda and MUST be POST
          Uri: !Sub arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ProductCatalogLambda.Arn}/invocations
      DependsOn:
            - NewProductApi
            - ProductCatalogLambda
            - ProductCatalogResource
    NewProductApi:
        Type: "AWS::ApiGateway::RestApi"
        Properties:
            Description: salesforce calls this api to enable csrs to add subscriptions to accounts 
            Name: !FindInMap [StageMap, !Ref Stage, ApiName]

    NewProductApiStage:
        Type: AWS::ApiGateway::Stage
        Properties:
            Description: Stage for new product api
            RestApiId: !Ref NewProductApi
            DeploymentId: !Ref NewProductApiDeployment
            StageName: !Sub ${Stage}
        DependsOn:
          - AddSubscriptionMethod
          - ProductCatalogMethod

    NewProductApiDeployment:
        Type: AWS::ApiGateway::Deployment
        Properties:
            Description: Deploys new-product-api into an environment/stage
            RestApiId: !Ref NewProductApi
        DependsOn:
          - AddSubscriptionMethod
          - ProductCatalogMethod

    NewProductApiKey:
      Type: AWS::ApiGateway::ApiKey
      Properties:
        Description: Key required to call new product API
        Enabled: true
        Name: !Sub new-product-api-key-${Stage}
        StageKeys:
          - RestApiId: !Ref NewProductApi
            StageName: !Sub ${Stage}
      DependsOn:
      - NewProductApi
      - NewProductApiStage

    NewProductUsagePlan:
      Type: "AWS::ApiGateway::UsagePlan"
      Properties:
        UsagePlanName: !Sub new-product-api-usage-plan-${Stage}
        ApiStages:
        - ApiId: !Ref NewProductApi
          Stage: !Ref NewProductApiStage
      DependsOn:
      - NewProductApi
      - NewProductApiStage

    NewProductUsagePlanKey:
      Type: "AWS::ApiGateway::UsagePlanKey"
      Properties:
        KeyId: !Ref NewProductApiKey
        KeyType: API_KEY
        UsagePlanId: !Ref NewProductUsagePlan
      DependsOn:
      - NewProductApiKey
      - NewProductUsagePlan

#    NewProductDomainName:
#      Type: "AWS::ApiGateway::DomainName"
#      Properties:
#        RegionalCertificateArn: # only for *.membership.guardianapis.com
#          !Sub arn:aws:acm:${AWS::Region}:${AWS::AccountId}:certificate/c1efc564-9ff8-4a03-be48-d1990a3d79d2
#        DomainName: !FindInMap [ StageMap, !Ref Stage, DomainName ]
#        EndpointConfiguration:
#          Types:
#            - REGIONAL

#    NewProductBasePathMapping:
#      Type: "AWS::ApiGateway::BasePathMapping"
#      Properties:
#        RestApiId: !Ref NewProductApi
#        DomainName: !Ref NewProductDomainName
#        Stage: !Sub ${Stage}
#      DependsOn:
#      - NewProductApi
#      - NewProductDomainName
#      - NewProductApiStage

#    NewProductDNSRecord:
#      Type: AWS::Route53::RecordSet
#      Properties:
#        HostedZoneName: membership.guardianapis.com.
#        Name: !FindInMap [ StageMap, !Ref Stage, DomainName ]
#        Comment: !Sub CNAME for new product API ${Stage}
#        Type: CNAME
#        TTL: '120'
#        ResourceRecords:
#        - !FindInMap [ StageMap, !Ref Stage, ApiGatewayTargetDomainName ]

    5xxApiAlarm:
      Type: AWS::CloudWatch::Alarm
      Condition: CreateProdMonitoring
      Properties:
        AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:retention-dev
        AlarmName:
          !Sub
            - 5XX rate from ${ApiName}
            - { ApiName: !FindInMap [StageMap, !Ref Stage, ApiName] }
        ComparisonOperator: GreaterThanThreshold
        Dimensions:
          - Name: ApiName
            Value: !FindInMap [StageMap, !Ref Stage, ApiName]
          - Name: Stage
            Value: !Sub ${Stage}
        EvaluationPeriods: 1
        MetricName: 5XXError
        Namespace: AWS/ApiGateway
        Period: 900
        Statistic: Sum
        Threshold: 6
        TreatMissingData: notBreaching

    4xxApiAlarm:
      Type: AWS::CloudWatch::Alarm
      Condition: CreateProdMonitoring
      Properties:
        AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:retention-dev
        AlarmName:
          !Sub
            - 4XX rate from ${ApiName}
            - { ApiName: !FindInMap [StageMap, !Ref Stage, ApiName] }
        ComparisonOperator: GreaterThanThreshold
        Dimensions:
          - Name: ApiName
            Value: !FindInMap [StageMap, !Ref Stage, ApiName]
          - Name: Stage
            Value: !Sub ${Stage}
        EvaluationPeriods: 1
        MetricName: 4XXError
        Namespace: AWS/ApiGateway
        Period: 900
        Statistic: Sum
        Threshold: 6
        TreatMissingData: notBreaching
