stacks:
  - membership
regions:
  - eu-west-1
allowedStages:
  - CODE
  - PROD
deployments:
  cfn:
    type: cloud-formation
    app: contact-us-api
    parameters:
      templatePath: cfn.yaml

  contact-us-api:
    type: aws-lambda
    parameters:
      fileName: contact-us-api.jar
      bucket: support-service-lambdas-dist
      prefixStack: false
      functionNames:
        - contact-us-api-
    dependencies: [ cfn ]