openapi: 3.0.3
info:
  title: Multiple Account API
  version: 1.0.0
  description: API for creating and deleting invitation codes used by the multiple account feature.
servers:
  - url: https://multiple-account-api-code.support.guardianapis.com
    description: CODE
  - url: https://multiple-account-api.support.guardianapis.com
    description: PROD
paths:
  /invitation:
    post:
      operationId: createInvitation
      summary: Create invitation
      description: Creates a new invitation for a subscription and returns an invitation code.
      security:
        - identityId: []
        -  apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvitationRequest'
            examples:
              default:
                value:
                  subscriptionName: A-S00974337
                  secondaryUserEmail: integration-test2+multiple-account@theguardian.com
      responses:
        '201':
          description: Invitation created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvitationResponse'
              examples:
                default:
                  value:
                    invitationCode: RpwR62kMnAxe
        '400':
          description: Invalid request or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParserError'
            text/plain:
              schema:
                type: string
              examples:
                validationError:
                  value: An invitation already exists for this subscription
        '404':
          description: Route not found.
          content:
            text/plain:
              schema:
                type: string
                example: Not Found
        '500':
          description: Internal server error.
          content:
            text/plain:
              schema:
                type: string
                example: Internal server error
  /subscriptions/{subscriptionName}/invitations:
    get:
      operationId: listInvitations
      summary: List invitations
      description: Lists all invitations for a given primary subscription.
      security:
        - identityId: []
        - apiKey: []
      parameters:
        - name: subscriptionName
          in: path
          required: true
          schema:
            type: string
          description: Zuora subscription number for the primary user.
          example: A-S00974337
      responses:
        '200':
          description: Invitations listed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInvitationsResponse'
        '400':
          description: Invalid request or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParserError'
            text/plain:
              schema:
                type: string
        '404':
          description: Route not found.
          content:
            text/plain:
              schema:
                type: string
                example: Not Found
        '500':
          description: Internal server error.
          content:
            text/plain:
              schema:
                type: string
                example: Internal server error
  /subscriptions/{subscriptionName}/secondary-users:
    get:
      operationId: listSecondaryUsers
      summary: List secondary users
      description: Lists all secondary users associated with a primary subscription.
      security:
        - identityId: []
        - apiKey: []
      parameters:
        - name: subscriptionName
          in: path
          required: true
          schema:
            type: string
          description: Zuora subscription number for the primary user.
          example: A-S00974337
      responses:
        '200':
          description: Secondary users listed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecondaryUsersResponse'
        '400':
          description: Invalid request or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParserError'
            text/plain:
              schema:
                type: string
        '404':
          description: Route not found.
          content:
            text/plain:
              schema:
                type: string
                example: Not Found
        '500':
          description: Internal server error.
          content:
            text/plain:
              schema:
                type: string
                example: Internal server error
  /subscriptions/{subscriptionName}/secondary-users/{secondaryIdentityId}:
    delete:
      operationId: deleteSecondaryUser
      summary: Delete secondary user
      description: Removes a secondary user from a primary subscription.
      security:
        - identityId: []
        - apiKey: []
      parameters:
        - name: subscriptionName
          in: path
          required: true
          schema:
            type: string
          description: Zuora subscription number for the primary user.
          example: A-S00974337
        - name: secondaryIdentityId
          in: path
          required: true
          schema:
            type: string
          description: Identity ID of the secondary user to remove.
          example: '30067890'
      responses:
        '204':
          description: Secondary user deleted.
        '404':
          description: Route not found.
          content:
            text/plain:
              schema:
                type: string
                example: Not Found
        '500':
          description: Internal server error.
          content:
            text/plain:
              schema:
                type: string
                example: Internal server error
  /subscriptions/{subscriptionName}/mma-primary:
    get:
      operationId: getMmaPrimarySummary
      summary: Get primary account summary
      description: Returns a combined list of pending invitations and active secondary users with identity name information, for display on a manage-my-account screen.
      security:
        - identityId: []
        - apiKey: []
      parameters:
        - name: subscriptionName
          in: path
          required: true
          schema:
            type: string
          description: Zuora subscription number for the primary user.
          example: A-S00974337
      responses:
        '200':
          description: Summary returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MmaPrimarySummaryResponse'
        '400':
          description: Invalid request or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParserError'
            text/plain:
              schema:
                type: string
        '404':
          description: Route not found.
          content:
            text/plain:
              schema:
                type: string
                example: Not Found
        '500':
          description: Internal server error.
          content:
            text/plain:
              schema:
                type: string
                example: Internal server error
  /secondary-user/me:
    get:
      operationId: getSecondaryUserMe
      summary: Get primary users for the signed-in secondary user
      description: >-
        Returns the contact details of the primary user for each subscription
        the signed-in secondary user is linked to. The secondary user is
        identified by their Okta bearer token.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Primary users returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecondaryUserMeResponse'
              examples:
                default:
                  value:
                    primaryUsers:
                      - firstName: Jane
                        lastName: Smith
                        workEmail: jane.smith@example.com
        '401':
          description: Missing, expired, or invalid Okta token.
          content:
            text/plain:
              schema:
                type: string
              examples:
                noToken:
                  value: No Authorization header provided
                expired:
                  value: Token has expired
                invalid:
                  value: Token is invalid
                signingKey:
                  value: Unable to find a signing key for the token
        '403':
          description: Token does not have the required scopes.
          content:
            text/plain:
              schema:
                type: string
              examples:
                invalidScopes:
                  value: Token does not have the required scopes
        '404':
          description: Route not found.
          content:
            text/plain:
              schema:
                type: string
                example: Not Found
        '500':
          description: Internal server error.
          content:
            text/plain:
              schema:
                type: string
                example: Internal server error
  /invitation/{invitationCode}:
    delete:
      operationId: deleteInvitation
      summary: Delete invitation
      description: >-
        Deletes (soft deletes) an invitation by invitation code. The
        'x-identity-id' header is required and must match either the primary or
        secondary user of the invitation. Whether the invitation was cancelled
        by the primary or rejected by the secondary is derived from which of the
        two the identity id matches. An invitation that has already been
        cancelled is treated as not found and cannot be cancelled again.
      security:
        - apiKey: []
      parameters:
        - name: invitationCode
          in: path
          required: true
          schema:
            type: string
          description: The invitation code to delete.
        - name: x-identity-id
          in: header
          required: true
          schema:
            type: string
          description: >-
            The identity id of the primary or secondary user of the invitation.
            When it matches the primary user the cancellation is recorded as
            'primary'; when it matches the secondary user it is recorded as
            'secondary'.
      responses:
        '204':
          description: Invitation deleted.
        '400':
          description: >-
            Missing 'x-identity-id' header, or the identity id does not match
            the primary or secondary user of the invitation.
          content:
            text/plain:
              schema:
                type: string
                example: The x-identity-id header is required
        '404':
          description: >-
            Invitation not found. Also returned when the invitation has already
            been cancelled.
          content:
            text/plain:
              schema:
                type: string
                example: Not found
        '500':
          description: Internal server error.
          content:
            text/plain:
              schema:
                type: string
                example: Internal server error
  /invitation/{invitationCode}/accept:
    post:
      operationId: acceptInvitation
      summary: Accept invitation
      description: >-
        Accepts an invitation for the signed-in secondary user, linking them to
        the subscription. An invitation that has already been cancelled cannot
        be accepted.
      security:
        - bearerAuth: []
      parameters:
        - name: invitationCode
          in: path
          required: true
          schema:
            type: string
            minLength: 12
            maxLength: 12
            pattern: '^[123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{12}$'
          description: 12-character Base58 invitation code.
          example: RpwR62kMnAxe
      responses:
        '200':
          description: Invitation accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptInvitationResponse'
              examples:
                default:
                  value:
                    identityId: '30067890'
                    secondarySubscriptionName: A-S00974338
        '400':
          description: >-
            Invalid request, the signed-in user does not match the invited user,
            or the invitation has already been cancelled.
          content:
            text/plain:
              schema:
                type: string
              examples:
                incorrectUser:
                  value: Incorrect user
                cancelled:
                  value: Invitation has been cancelled by the primary user
            application/json:
              schema:
                $ref: '#/components/schemas/ParserError'
        '401':
          description: Missing, expired, or invalid Okta token.
          content:
            text/plain:
              schema:
                type: string
              examples:
                noToken:
                  value: No Authorization header provided
                expired:
                  value: Token has expired
                invalid:
                  value: Token is invalid
                signingKey:
                  value: Unable to find a signing key for the token
        '403':
          description: Token does not have the required scopes.
          content:
            text/plain:
              schema:
                type: string
              examples:
                invalidScopes:
                  value: Token does not have the required scopes
        '404':
          description: Route not found.
          content:
            text/plain:
              schema:
                type: string
                example: Not Found
        '500':
          description: Internal server error.
          content:
            text/plain:
              schema:
                type: string
                example: Internal server error
components:
  securitySchemes:
    identityId:
      type: apiKey
      in: header
      name: x-identity-id
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Okta JWT token passed in the Authorization header.
  schemas:
    CreateInvitationRequest:
      type: object
      additionalProperties: false
      required:
        - subscriptionName
        - secondaryUserEmail
      properties:
        subscriptionName:
          type: string
          description: Zuora subscription number.
          example: A-S00974337
        secondaryUserEmail:
          type: string
          format: email
          example: integration-test2+multiple-account@theguardian.com
    CreateInvitationResponse:
      type: object
      additionalProperties: false
      required:
        - invitationCode
      properties:
        invitationCode:
          type: string
          minLength: 12
          maxLength: 12
          pattern: '^[123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{12}$'
          description: 12-character Base58 invitation code.
          example: RpwR62kMnAxe
    AcceptInvitationResponse:
      type: object
      additionalProperties: false
      required:
        - identityId
        - secondarySubscriptionName
      properties:
        identityId:
          type: string
          description: Identity id of the secondary user who accepted the invitation.
          example: '30067890'
        secondarySubscriptionName:
          type: string
          description: Zuora subscription number created for the secondary user.
          example: A-S00974338
    Invitation:
      type: object
      additionalProperties: false
      required:
        - subscriptionName
        - invitationCode
        - primaryIdentityId
        - secondaryUserEmail
        - secondaryIdentityId
        - invitedDate
        - expiryDate
      properties:
        subscriptionName:
          type: string
          example: A-S00974337
        invitationCode:
          type: string
          example: RpwR62kMnAxe
        primaryIdentityId:
          type: string
          example: '20012345'
        secondaryUserEmail:
          type: string
          format: email
          example: integration-test2+multiple-account@theguardian.com
        secondaryIdentityId:
          type: string
          example: '30067890'
        invitedDate:
          type: string
          example: '2026-06-12'
        expiryDate:
          type: number
          example: 1781222400000
        cancelledBy:
          type: string
          enum:
            - primary
            - secondary
          description: >-
            Present in the list-invitations response when the invitation has
            been cancelled by the primary user or rejected by the secondary
            user. Absent for pending invitations, and never returned by the
            mma-primary summary (which excludes cancelled invitations).
          example: primary
    ListInvitationsResponse:
      type: object
      additionalProperties: false
      required:
        - invitations
      properties:
        invitations:
          type: array
          items:
            $ref: '#/components/schemas/Invitation'
    SecondaryUser:
      type: object
      additionalProperties: false
      required:
        - subscriptionName
        - secondaryIdentityId
        - primaryIdentityId
        - acceptedDate
      properties:
        subscriptionName:
          type: string
          example: A-S00974337
        secondaryIdentityId:
          type: string
          example: '30067890'
        primaryIdentityId:
          type: string
          example: '20012345'
        acceptedDate:
          type: string
          example: '2026-06-12'
    SecondaryUserWithName:
      type: object
      additionalProperties: false
      required:
        - subscriptionName
        - secondaryIdentityId
        - primaryIdentityId
        - acceptedDate
        - displayName
        - firstName
        - lastName
        - email
      properties:
        subscriptionName:
          type: string
          example: A-S00974337
        secondaryIdentityId:
          type: string
          example: '30067890'
        primaryIdentityId:
          type: string
          example: '20012345'
        acceptedDate:
          type: string
          example: '2026-06-12'
        displayName:
          type: string
          example: jsmith92
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
        email:
          type: string
          format: email
          example: jane.smith@example.com
    MmaPrimarySummaryResponse:
      type: object
      additionalProperties: false
      required:
        - invitations
        - secondaryUsers
      properties:
        invitations:
          type: array
          items:
            $ref: '#/components/schemas/Invitation'
        secondaryUsers:
          type: array
          items:
            $ref: '#/components/schemas/SecondaryUserWithName'
    ListSecondaryUsersResponse:
      type: object
      additionalProperties: false
      required:
        - secondaryUsers
      properties:
        secondaryUsers:
          type: array
          items:
            $ref: '#/components/schemas/SecondaryUser'
    PrimaryUser:
      type: object
      additionalProperties: false
      required:
        - firstName
        - lastName
        - workEmail
      properties:
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
        workEmail:
          type: string
          format: email
          example: jane.smith@example.com
    SecondaryUserMeResponse:
      type: object
      additionalProperties: false
      required:
        - primaryUsers
      properties:
        primaryUsers:
          type: array
          items:
            $ref: '#/components/schemas/PrimaryUser'
    ParserError:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - Missing request body
            - Invalid request body - not json
            - Invalid request body - wrong type
            - Invalid request path
        details:
          description: Parser-specific error details.


