<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="com.amazonaws.services.lambda.runtime.log4j2">
    <appender name="Lambda" class="io.symphonia.lambda.logging.DefaultConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %-5level - %logger{0}:%line: %replace(%msg){'\n','&#xd;'} %replace(%exception){'\n','&#xd;'} %nopexception %n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Lambda" />
    </root>
</configuration>