name: Update Dependency Graph for sbt
on:
  push:
    branches:
      - main
  workflow_dispatch: 
jobs:
  dependency-graph:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.2.1
      - name: Install Java
        id: java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v4.2.0
        with:
          distribution: corretto
          java-version: 21
      - name: Install sbt
        id: sbt
        uses: sbt/setup-sbt@8a071aa780c993c7a204c785d04d3e8eb64ef272 # v1.1.0
      - name: Submit dependencies
        id: submit
        uses: scalacenter/sbt-dependency-submission@f43202114d7522a4b233e052f82c2eea8d658134 # v3.2.1
      - name: Log snapshot for user validation
        id: validate
        run: cat ${{ steps.submit.outputs.snapshot-json-path }} | jq
    permissions:
      contents: write
