name: Test Scala-steward PRs

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test of Scala Steward PR
        
    if: github.actor == 'gu-scala-steward-public-repos[bot]'

    runs-on: ubuntu-latest

    steps:
      - 
        name: Checkout repo
        uses: actions/checkout@v4
      - 
        name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: 11
      - 
        name: Compile production and test code
        run: sbt Test/compile
      - 
        name: Run tests
        run: sbt test
